In [1]:
!curl -o "ml-latest.zip" "http://files.grouplens.org/datasets/movielens/ml-latest.zip"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  264M  100  264M    0     0  60.8M      0  0:00:04  0:00:04 --:--:-- 60.8M

In [2]:
!curl -o "keyvec.zip" "http://vectors.nlpl.eu/repository/20/6.zip"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  605M  100  605M    0     0  17.2M      0  0:00:35  0:00:35 --:--:-- 22.0M

In [8]:
%%bash
unzip keyvec.zip
unzip ml-latest.zip

Archive:  ml-latest.zip
   creating: ml-latest/
  inflating: ml-latest/links.csv
  inflating: ml-latest/tags.csv
  inflating: ml-latest/genome-tags.csv
  inflating: ml-latest/ratings.csv
  inflating: ml-latest/README.txt
  inflating: ml-latest/genome-scores.csv
  inflating: ml-latest/movies.csv

In [22]:
!rm ml-latest/production.csv

In [13]:
%%bash 
echo '{"username":"anirudhnarsipur","key":"6cc2804ccd69dd37b0b72de821ef47d3"}' > ~/.kaggle/kaggle.json

In [14]:
!kaggle datasets download -d danielgrijalvas/movies

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading movies.zip to /content
  0% 0.00/369k [00:00<?, ?B/s]
100% 369k/369k [00:00<00:00, 58.5MB/s]

In [24]:
!unzip movies.zip

Archive:  movies.zip
  inflating: movies.csv

In [35]:
import os 
import re
import pandas as pd
import numpy as np
from gensim.models import KeyedVectors
from gensim.test.utils import datapath

In [23]:
!ls

keyvec.zip  ml-latest	   model.bin  movies.zip  sample_data
meta.json   ml-latest.zip  model.txt  README

In [17]:
data_dir = 'ml-latest/'
data_files = os.listdir('ml-latest/')
print(data_files)

['movies.csv', 'tags.csv', 'production.csv', 'README.txt', 'ratings.csv', 'genome-scores.csv', 'links.csv', 'genome-tags.csv']

In [18]:

movies = pd.read_csv(data_dir+"movies.csv")
metadata = pd.read_csv(data_dir+'genome-tags.csv')
ratings = pd.read_csv(data_dir + 'ratings.csv')

In [25]:
produc = pd.read_csv("movies.csv",encoding='latin')

In [26]:
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [27]:
metadata.sample(5)

      tagId                   tag
465     466  great cinematography
47       48    alone in the world
1091   1092     visually stunning
885     886                sci fi
948     949     spanish civil war

In [28]:
produc.head()

       budget                                 company  ...         writer  year
0   8000000.0           Columbia Pictures Corporation  ...   Stephen King  1986
1   6000000.0                      Paramount Pictures  ...    John Hughes  1986
2  15000000.0                      Paramount Pictures  ...       Jim Cash  1986
3  18500000.0  Twentieth Century Fox Film Corporation  ...  James Cameron  1986
4   9000000.0                    Walt Disney Pictures  ...  Mark H. Baker  1986

[5 rows x 15 columns]

In [29]:
movies["name"] = movies["title"].apply(lambda s:re.sub(r" ?\([^)]+\)", "",s) )
movies.head()

   movieId  ...                         name
0        1  ...                    Toy Story
1        2  ...                      Jumanji
2        3  ...             Grumpier Old Men
3        4  ...            Waiting to Exhale
4        5  ...  Father of the Bride Part II

[5 rows x 4 columns]

In [30]:
df = pd.merge(movies,produc,on="name")
df.head()

   movieId                               title  ...               writer  year
0        1                    Toy Story (1995)  ...        John Lasseter  1995
1        2                      Jumanji (1995)  ...   Jonathan Hensleigh  1995
2        3             Grumpier Old Men (1995)  ...  Mark Steven Johnson  1995
3        4            Waiting to Exhale (1995)  ...       Terry McMillan  1995
4        5  Father of the Bride Part II (1995)  ...       Albert Hackett  1995

[5 rows x 18 columns]

In [31]:
df[~df["country"].isin(["USA","UK"])]["country"].value_counts()

France                            198
Canada                            106
Germany                            73
Japan                              57
Australia                          55
Italy                              45
India                              37
Spain                              35
Ireland                            26
South Korea                        25
Hong Kong                          24
Mexico                             19
China                              18
New Zealand                        16
Denmark                            16
Sweden                             15
Russia                             14
Taiwan                              9
Czech Republic                      9
Belgium                             7
Iran                                7
Argentina                           7
Switzerland                         6
Brazil                              6
Netherlands                         6
Austria                             6
Norway                              6
Hungary                             5
Finland                             5
Chile                               3
Israel                              3
West Germany                        2
South Africa                        2
Thailand                            2
Greece                              2
Colombia                            2
Poland                              2
Romania                             2
Aruba                               1
Cuba                                1
Ukraine                             1
Malta                               1
Jamaica                             1
Soviet Union                        1
Federal Republic of Yugoslavia      1
Indonesia                           1
Iceland                             1
Republic of Macedonia               1
Palestine                           1
Name: country, dtype: int64

In [32]:
ratings['userId'].unique().size

283228

In [38]:
wv = KeyedVectors.load_word2vec_format("model.bin", binary=True)

/usr/local/lib/python3.6/dist-packages/smart_open/smart_open_lib.py:254: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

In [47]:
wv["007"].shape

(300,)

In [200]:
ratings_sample = ratings[ratings["userId"]<=50]

In [61]:
foreign = df[~df["country"].isin(["USA","UK"])]

In [62]:
foreign.head()

    movieId                    title  ...            writer  year
13        7           Sabrina (1995)  ...  Samuel A. Taylor  1995
14      915           Sabrina (1954)  ...  Samuel A. Taylor  1995
22       16            Casino (1995)  ...  Nicholas Pileggi  1995
31       23         Assassins (1995)  ...   Lilly Wachowski  1995
40       33  Wings of Courage (1995)  ...      Alain Godard  1995

[5 rows x 18 columns]

In [72]:
genome = pd.read_csv(data_dir+"genome-scores.csv")

In [126]:
genome[genome["movieId"].isin(np.array([1,2,3]))]["tagId"]

0          1
1          2
2          3
3          4
4          5
        ...
3379    1124
3380    1125
3381    1126
3382    1127
3383    1128
Name: tagId, Length: 3384, dtype: int64

In [163]:
#TO DO: Account for tag relevance
def get_tags_relevance(mid):
  all_tags = genome[genome["movieId"]==mid]
  rel = -np.partition(-np.array(all_tags["relevance"]),20)[:20]
  temp = all_tags[all_tags["relevance"].isin(rel)]["tagId"][:20].tolist()
  return metadata[metadata["tagId"].isin(temp)]["tag"].tolist()

def get_vecs(tags):
  ls = []
  for tag in tags:
    for word in [i.lower() for i in tag.split()]:
      try:
        ls.append(wv[tag])
      except:
          pass
  return np.array(ls)

def id_vec(id):
  return get_vecs(get_tags_relevance(id))

In [157]:
foreign_vecs = pd.DataFrame()

In [164]:
foreign_vecs["movieId"] = foreign["movieId"]
foreign_ids = foreign_vecs["movieId"].tolist()
all_vecs = [id_vec(mid) for mid in foreign_vecs["movieId"].tolist()]

In [221]:
def remove_null(vec):
  ls =  [] 
  for i in vec:
    if i.size == 0:
      ls.append(np.zeros((1,300)))
    else:
      ls.append(i)
  return np.array(ls)

In [217]:
foreign_vecs["movie_vec"] = [remove_null(vec) for vec in all_vecs]
foreign_vecs.head()

    movieId                                          movie_vec
13        7  [[0.093107, -0.01204, 0.000203, 0.079919, -0.0...
14      915  [[-0.012918, -0.050051, 0.030364, -0.145345, 0...
22       16  [[0.167327, -0.005989, -0.046007, 0.152078, 0....
31       23  [[-0.014575, 0.033459, 0.018808, 0.097272, 0.0...
40       33  [[0.026536, -0.04169, 0.066246, -0.084588, 0.0...

In [201]:
ratings_sample['movieId'] = ratings_sample["movieId"].apply(lambda x: str(x))
user_movies = ratings_sample.groupby(ratings_sample["userId"]).agg({"movieId": lambda x: ','.join(x)})

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [225]:
def get_ls_vecs(ls_ids):
  ls_ids = [int(i) for i in ls_ids.split(',')]
  all_vecs = [remove_null(id_vec(mid)) for mid in ls_ids]
  out = []
  for vec in all_vecs:
    if vec.size == 0:
      continue 
    else:
        out.append(vec)
  return np.vstack(out)

In [226]:
user_movies["user_vector"] = user_movies["movieId"].apply(get_ls_vecs)

In [230]:
user_movies.head()

                                                  movieId                                        user_vector
userId
1       307,481,1091,1257,1449,1590,1591,2134,2478,284...  [[0.016626, 0.06113, 0.06345, -0.008968, -0.01...
2       170,849,1186,1235,1244,1296,1663,1962,2108,224...  [[0.044119, -0.048573, 0.021254, 0.052899, -0....
3       640,828,960,1221,1321,1645,1825,1985,2024,2028...  [[0.106495, -0.017905, 0.043308, 0.015604, -0....
4       1,2,5,6,10,11,16,19,20,23,25,31,32,34,36,39,41...  [[-0.012086, 0.083213, -0.07851, 0.033313, 0.0...
5       47,50,293,296,318,527,728,778,858,1147,1186,11...  [[-0.00103, -0.024518, -0.046511, -0.010788, 0...

In [240]:
def clean(x): 
  if x.size == 0: 
    return np.zeros((1,300)) 
  else: 
    return x
foreign["movie_vec"] = foreign_vecs["movie_vec"].apply(clean)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [241]:
foreign.head()

    movieId  ...                                          movie_vec
13        7  ...  [[0.093107, -0.01204, 0.000203, 0.079919, -0.0...
14      915  ...  [[-0.012918, -0.050051, 0.030364, -0.145345, 0...
22       16  ...  [[0.167327, -0.005989, -0.046007, 0.152078, 0....
31       23  ...  [[-0.014575, 0.033459, 0.018808, 0.097272, 0.0...
40       33  ...  [[0.026536, -0.04169, 0.066246, -0.084588, 0.0...

[5 rows x 19 columns]

In [303]:
def cosine_sim(a,b):
  try:
    dotp = np.matmul(a,b.T)
    norma = np.linalg.norm(a)
    normb = np.linalg.norm(b)
    if norma == 0 or normb ==0:
      return 0
    else:
      return np.linalg.norm(dotp/(norma * normb))
  except:
    return 0

In [333]:

def get_ranking(vec):
  return [cosine_sim(vec,fvec) for fvec in foreign["movie_vec"]]

In [340]:
def get_movies(ls_movies):
  mids = [int(mid) for mid in ls_movies.split(',')]
  return movies[movies["movieId"].isin(mids)][["title","genres"]]
def get_rank_list(num):
  tst = user_movies['user_vector'].iloc[num]
  foreign["Scores"] = get_ranking(tst)
  print(get_movies(user_movies["movieId"].iloc[num]))
  print("----------------------------------------------")
  print(foreign.sort_values("Scores",ascending=False)[["name","genres"]].head(10))

In [345]:
get_rank_list(5)

                                                 title                                           genres
9                                     GoldenEye (1995)                        Action|Adventure|Thriller
20                                   Get Shorty (1995)                            Comedy|Crime|Thriller
31           Twelve Monkeys (a.k.a. 12 Monkeys) (1995)                          Mystery|Sci-Fi|Thriller
46                         Seven (a.k.a. Se7en) (1995)                                 Mystery|Thriller
49                          Usual Suspects, The (1995)                           Crime|Mystery|Thriller
109                                 Taxi Driver (1976)                             Crime|Drama|Thriller
139                               Birdcage, The (1996)                                           Comedy
151                              Batman Forever (1995)                    Action|Adventure|Comedy|Crime
159                                Crimson Tide (1995)                               Drama|Thriller|War
161                                   Desperado (1995)                           Action|Romance|Western
168                                     Hackers (1995)                  Action|Adventure|Crime|Thriller
171                                 Judge Dredd (1995)                              Action|Crime|Sci-Fi
202               Under Siege 2: Dark Territory (1995)                                           Action
206                                  Waterworld (1995)                          Action|Adventure|Sci-Fi
221                            Don Juan DeMarco (1995)                             Comedy|Drama|Romance
224                                   Drop Zone (1994)                                  Action|Thriller
258                                Little Women (1994)                                            Drama
270  Mary Shelley's Frankenstein (Frankenstein) (1994)                              Drama|Horror|Sci-Fi
285                        Natural Born Killers (1994)                            Action|Crime|Thriller
293                                Pulp Fiction (1994)                      Comedy|Crime|Drama|Thriller
304   Three Colors: Blue (Trois couleurs: Bleu) (1993)                                            Drama
312                             Specialist, The (1994)                            Action|Drama|Thriller
313                                    Stargate (1994)                          Action|Adventure|Sci-Fi
315                   Shawshank Redemption, The (1994)                                      Crime|Drama
333                 What's Eating Gilbert Grape (1993)                                            Drama
346                                 Client, The (1994)                           Drama|Mystery|Thriller
349                                   Crow, The (1994)                    Action|Crime|Fantasy|Thriller
360                              Lion King, The (1994)  Adventure|Animation|Children|Drama|Musical|IMAX
363                                   Mask, The (1994)                      Action|Comedy|Crime|Fantasy
376                                   True Lies (1994)         Action|Adventure|Comedy|Romance|Thriller
416                       Beverly Hills Cop III (1994)                     Action|Comedy|Crime|Thriller
430                                 Cliffhanger (1993)                        Action|Adventure|Thriller
436                                        Dave (1993)                                   Comedy|Romance
438                              Demolition Man (1993)                          Action|Adventure|Sci-Fi
450                                   Firm, The (1993)                                   Drama|Thriller
453                               Fugitive, The (1993)                                         Thriller
511                     Remains of the Day, The (1993)                                    Drama|Romance
548                       Three Musketeers, The (1993)                  Action|Adventure|Comedy|Romance
551                                True Romance (1993)                                   Crime|Thriller
586                                      Batman (1989)                            Action|Crime|Thriller
587                   Silence of the Lambs, The (1991)                            Crime|Horror|Thriller
658     All Things Fair (Lust och fgring stor) (1995)                                Drama|Romance|War
----------------------------------------------
                           name                               genres
4175                Nacho Libre                               Comedy
1298                 Dirty Work                               Comedy
4084                 Wolf Creek                Crime|Horror|Thriller
3089              Two Evil Eyes                               Horror
426   Robin Hood: Men in Tights                               Comedy
5424                Upside Down                 Drama|Romance|Sci-Fi
2027                Nurse Betty  Comedy|Crime|Drama|Romance|Thriller
5040            I Saw the Devil                       Crime|Thriller
2557                  Zoolander                               Comedy
5282               Silent House                      Horror|Thriller

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy